<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Recipe Cook</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.1/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="{{ public_dir }}css/style.css" rel="stylesheet">
    <link href="{{ public_dir }}css/style.min.css" rel="stylesheet">

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Hi+Melody" rel="stylesheet">
</head>

<body>
<!--Main Navigation-->
<header>

    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
        <div class="container">

            <!-- Brand -->
            <a class="navbar-brand waves-effect" href="https://mdbootstrap.com/material-design-for-bootstrap/"
               target="_blank">
                <strong class="red-text">{{ title }}</strong>
            </a>

            <!-- Collapse -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <!-- Left -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link waves-effect" href="?"><i class="fa fa-home" aria-hidden="true"></i>Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect" href="?register"><i class="fa fa-user-plus"></i>Inscription</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect" href="?dashboard"><i class="fa fa-user" aria-hidden="true"></i>Administration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect" href="?deconnexion">Deconnexion</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <!-- Navbar -->


</header>
<hr>
<br><br>
<h1 class="text-center">Bienvenue {{ user.getPseudo }}</h1>
<div class="row">
    <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list"
               href="#list-home" role="tab" aria-controls="home">Recettes</a>
            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
               href="#list-profile" role="tab" aria-controls="profile">Ajouter une recette</a>
            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
               href="#user" role="tab" aria-controls="profile">modifier profil</a>
        </div>
    </div>
    <div class="col-8">
        <div class="tab-content" id="nav-tabContent">

            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                <form method="post" action="?recipeAdd">
                    <h3 class="text-center">Ajouter une recette</h3>
                    <div class="form-group">
                        <label for="">Nom de la recette :</label>
                        <input name="nom" type="text" id=""/>
                    </div>
                    <div class="form-group">
                        <label for="">Ingredients :</label>
                        <textarea class="form-control" name="ingredients" id="" cols="30" rows="10"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="">Liens de la recette :</label>
                        <input class="form-control" id="exampleTextarea" name="liens" placeholder="liens youtube"/>

                    </div>

                    <div class="form-group">
                        <label for="exampleTextarea">Description</label>
                        <textarea class="form-control" id="exampleTextarea" name="description" rows="3"></textarea>
                    </div>

                    <input name="user_id" type=hidden value="{{ user.getId }}"/>
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                    <div class="alert alert-success" role="alert">
                        <a href="#" class="alert-link">{{ message }}</a>.
                    </div>
                </form>
            </div>
            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                <h3>Listes de recettes</h3>

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">nom de la recette</th>
                            <th scope="col">Action</th>

                        </tr>
                        </thead>

                            <tbody>
                            {% for recette in recettes %}
                            <tr>
                                <td>{{ recette.getNom }}</td>
                                <td>
                                    <a href="{{ recette.linkUpdate }}" class="btn btn-sm btn-primary">Modifier</a>
                                </td>
                            </tr>
                            <br>
                            {% endfor %}
                            <tr>
                                <h4>Suppression de recette :</h4>
                                <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target=".bs-example-modal-lg">Supprimer</button>
                                <div class="modal fade bs-example-modal-lg" role="dialog" aria-labelledby="myLargeModalLabel">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            {% for recette in recettes %}
                                            <p><strong>etes vous sur de vouloir supprimer cette recette : {{ recette.getNom }}</strong></p>
                                            <a href="{{ recette.linkDelete }}" class="btn btn-sm btn-danger ">Supprimer</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </tr>
                            </tbody>

                    </table>
                    <br>

                <div class="alert alert-success" id="message" role="alert" style="display: none">
                    <a href="#" class="alert-link">une recette a été modifier</a>.
                </div>

            </div>
            <div class="tab-pane fade show" id="user" role="tabpanel">

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">utilisateur</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ user.getPseudo }}</td>
                        <td>
                            <a href="{{ user.linkUpdated }}" class="btn btn-sm btn-primary">Modifier</a>
                        </td>


                    </tr>
                    </tbody>
                </table>
                <h3>Listes des utilisateurs</h3>
                    <ul>
                        {% for users in users %}
                            {% if users.getRole == 'user' %}
                                <li>
                                    {{ users.getPseudo }}
                                </li>

                            {% endif %}
                        {% endfor %}
                    </ul>

                <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target=".bs-user-modal-lg">Supprimer</button>
                <div class="modal fade bs-user-modal-lg" role="dialog" aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            {% for users in users %}
                                {% if users.getRole == 'user' %}
                                    <p><strong>etes vous sur de vouloir supprimer cette utilisateur : {{ users.getPseudo }}</strong></p>
                                    <a href="{{ users.linkDelete }}" class="btn btn-sm btn-danger ">Supprimer</a>
                                {% endif %}
                            {% endfor %}

                        </div>
                    </div>

                </div>




            </div>
        </div>
    </div>
</div>


<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>    <!-- Bootstrap core JavaScript -->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.1/js/mdb.min.js"></script>
<!-- Initializations -->
<script type="text/javascript">
    // Animations initialization
    new WOW().init();
</script>


<script src="{{ public_dir }}script/script.js"></script>
</body>

</html>
